<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Harman y Jorge | Recuerdos / Memories</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="main">
        <h1>
          Recuredos del casamiento <br/>
          de Harman y Jorge
        </h1>
        <p class="lead green-cyan">
          We are so happy you were able to join us on our special day. We'd love to share in everyone's memories
          so please upload any pictures or videos you have to share from the wedding events.
        </p>
        <p class="lead cyan-blue">
          Estamos tan contentos de que se haya podido unirse a nosotros en nuestro día especial. Nos encantaría compartir
          los recuerdos de todos ellos así que por favor, subir fotos o vídeos de las actividades del casamiento.
        </p>
        <div class="buttons row">
          <div class="col-xs-6 text-left"><a class="btn btn-primary" href="/view">View / para Ver</a></div>
          <div class="col-xs-6 text-right"><a class="btn btn-primary" href="/share">Share / para Compartir</a></div>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>