<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Harman y Jorge | Recuerdos / Memories</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/turn.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div id="overlay" class="hide">
      <div id="overlay-image">
      </div>
    </div>
    <div class="container">
      <div class="main view">
        <h1>View / para Ver</h1>
        <div id="book">
          <div class="cover"><h1>Harman<br/>Y<br/>Jorge</h1></div>
        </div>

        <div class="buttons row">
          <div class="col-xs-4 text-left"><a class="btn btn-primary" href="/">Home / Inicio</a></div>
          <div id="controls" class="text-center col-xs-4">
            <label for="page-number">Page:</label>
            <input type="text" size="3" id="page-number"> of <span id="number-pages"></span>
          </div>
          <div class="col-xs-4 text-right"><a class="btn btn-primary" href="/share">Share / para Compartir</a></div>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/turn.js"></script>

    <script type="text/javascript">

      // Sample using dynamic pages with turn.js

      var pages = []
      {{#each thumbs}}
        pages.push("{{this}}")
      {{/each}}
      var numberOfPages = pages.length+1;

      // Adds the pages that the book will need
      function addPage(page, book) {
        //  First check if the page is already in the book
        if (!book.turn('hasPage', page)) {
          // Create an element for this page
          var element = $('<div />', {'class': 'page '+((page%2==0) ? 'odd' : 'even'), 'id': 'page-'+page}).html('<i class="loader"></i>');
          // If not then add the page
          book.turn('addPage', element, page);
          if (page > 1) {
            element.html('<div class="data"><img src="img/thumbs/' + pages[page-2] + '"/><div class="caption"></div></div>');
            var captionFile = 'captions/' + pages[page-2].replace(/\.[^/.]+$/, "") + '.txt'
            $(element.children().children('.caption')[0]).load(captionFile)
            $(element.children().children('img')[0]).on('click', function () {
              $('#overlay-image').html('<img class="main-image" src="img/' + pages[page-2] + '"/>')
              $('#overlay').fadeIn('slow')
              $('#overlay').removeClass("hide")
              $('img.main-image').on('click', function () {
                $('#overlay').fadeOut('fast')
              })
            })
          }
        }
      }

      $(window).ready(function(){
        $('#book').turn({acceleration: true,
                  pages: numberOfPages,
                  elevation: 300,
                  gradients: !$.isTouch,
                  when: {
                    turning: function(e, page, view) {

                      // Gets the range of pages that the book needs right now
                      var range = $(this).turn('range', page);

                      // Check if each page is within the book
                      for (page = range[0]; page<=range[1]; page++)
                        addPage(page, $(this));
                    },

                    turned: function(e, page) {
                      $('#page-number').val(page);
                    }
                  }
                });

        $('#number-pages').html(numberOfPages);

        $('#page-number').keydown(function(e){

          if (e.keyCode==13)
            $('#book').turn('page', $('#page-number').val());

        });
      });

      $(window).bind('keydown', function(e){
        if (e.target && e.target.tagName.toLowerCase()!='input')
          if (e.keyCode==37)
            $('#book').turn('previous');
          else if (e.keyCode==39)
            $('#book').turn('next');
          else if (e.which == 27)
            $('#overlay').fadeOut('fast')

      });

    </script>

  </body>
</html>